replicaCount: 1

#image:
#  repository: landing-static
#  tag: dev
#  pullPolicy: IfNotPresent

image:
  repository: registry.digitalocean.com/guajiro/landing-static
  tag: v1.0.0
  pullPolicy: IfNotPresent
  
service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: "nginx"
  hosts:
    - host: ""          # ← vacío = acepta cualquier Host (localhost, 127.0.0.1, etc.)
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}

